.language {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 22px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;

  cursor: pointer;
}
.language-test {
  cursor: pointer;
  border-radius: 22px;
  background-color: #cf90319a;
  color: blanchedalmond;
}
.language::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(120deg, #3d25029a);
  background-size: 300% 300%;
  border-radius: 25px;
  animation: moveNeon 5s linear infinite;
  filter: blur(6px);
}
