.card {
  background: url(/background2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.card2 {
  position: relative;
  background-color: transparent;
  box-shadow: 0 0 20px #ebc490a8,
    0 0 30px #ebc190a8,
    inset 0 0 10px #000000;
  border-radius: 22px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 5rem;
  background-color: transparent;
  border-radius: 25px;
  width: 110%;
  box-sizing: border-box;
}

#heading {
  text-align: center;
  margin: 1.5em 0;
  color: #ffffff;
  font-size: 1.8em;
  font-weight: bold;
}

.field {
  position: relative; /* For eye icon positioning */
  display: flex;
  align-items: center;
  gap: 1em;
  border-radius: 25px;
  margin-bottom: 0.75rem;
  background-color: #2f2f2f;
  box-shadow: inset 1px 3px 6px #111;
  color: white;
 padding: 1em 1.5rem;
}

.input-icon {
  height: 1.3em;
  margin-left: 1rem;
  fill: white;
  flex-shrink: 0;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  font-size: 1rem;
  padding: 0.75em 0;
  border-radius: 25px;
}

.form .btn {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  margin-top: 2em;
}

.button1 {
  padding: 1.4rem 9rem;
  border-radius: 25px;
  background-color: #222121;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 20px #ebc490a8;
}

.button1:hover {
  background-color: #000;
  box-shadow: 0 0 30px #ebc190a8;
}

.btn2 {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 50%;
  text-align: left;
  font-size: 1rem;
  margin-top: 1em;
}

.btn2:hover {
  color: #ff8800;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

/* 👁 Eye icon inside the password field */
/* .password-eye-icon {
  position: absolute;
  left: 20rem;
  top: 8;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
} */


/* Responsive adjustments */
@media (max-width: 500px) {
  .form {
    padding: 1.5em;
  }

  #heading {
    font-size: 1.4em;
  }
}
@media (max-width: 400px) {
  .form {
    padding: 1em;
  }

  #heading {
    font-size: 1.2em;
  }

  .button1 {
    padding: 1.2rem 6rem;
  }
}